name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  test:
    name: node@${{ matrix.node-version }} / typescript@${{ matrix.typescript-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 22
          - 24
          - latest
        typescript-version:
          - 5.9
          - latest
          - next
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - run: node --version
      - uses: pnpm/action-setup@v4
      - run: pnpm install
      - run: pnpm add typescript@${{ matrix.typescript-version }}
      - run: pnpm exec tsc --version
      - run: pnpm run '/^test:tsc:/'

  test-tsgo:
    name: node@${{ matrix.node-version }} / typescript@7 (native-preview)
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 22
          - 24
          - latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - run: node --version
      - uses: pnpm/action-setup@v4
      - run: pnpm install
      - run: pnpm dlx @typescript/native-preview --version
      - run: pnpm run '/^test:tsgo:/'
